@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		-moz-user-select: none;
		-webkit-user-select: none;
		user-select: none;
		-webkit-user-drag: none;
		scroll-behavior: smooth;
		overflow-wrap: break-word;
	}
}
